@use '../abstacts' as *;

.banner {
	position: relative;
	& > .container {
		& > .banner__text {
			user-select: none;
			& > h1 {
				font-weight: 900;
				width: 705px;
				height: 222px;
				font-size: 54px;
				line-height: 74px;
				letter-spacing: 0.04em;
				text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
			}

			& > p {
				width: 540px;
				height: 99px;
				font-weight: 700;
				font-size: 24px;
				text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
				line-height: 33px;
			}

			& > h1 span {
				color: $primary-color;
			}

			& > .btn {
				margin-bottom: 21px;
			}
		}

		& > .banner__image {
			position: absolute;
			width: 792.35px;
			height: auto;
			right: 0;
			top: -48px;
		}
	}
}

.banner__image--flex {
	display: flex;
	align-items: center;

	& > .banner__image--left {
		width: 184px;
		height: 155px;
		margin-right: 113px;
	}
	& > .banner__image--right {
		width: 248px;
		height: 208px;
	}
}

@include maxW($xl) {
	.banner .container {
		& > .banner__image {
			z-index: -1;
			width: 700px;
			height: auto;
			left: auto;
			right: 0;
			filter: brightness(70%);
		}
	}
}

@include maxW($md) {
	.banner .container {
		& > .banner__text {
			& > h1,
			& > p {
				width: auto;
				height: auto;
			}
		}
	}
}
