@use '../abstacts' as *;

.reasonSection {
	height: 628px;
	margin-top: 130px;
	margin-bottom: 200px;
	position: relative;

	.container {
		& > .reasonSection__text {
			position: absolute;
			bottom: 0;
			left: 0;

			& > .reasonSection__heading {
				width: 532px;
				font-weight: 700;
				font-size: 56px;
				line-height: 76px;
				margin: 26px 0;
				position: relative;

				&::before {
					content: '';
					width: 147px;
					height: 7px;
					position: absolute;
					left: 0;
					top: -26px;
					background-color: $primary-color;
				}
			}

			& > p {
				font-weight: 600;
				font-size: 24px;
				line-height: 33px;
				max-width: 601px;
				margin: 0;
			}
		}

		& > .reasonSection__image {
			width: 608.27px;
			height: 628px;
			position: absolute;
			right: 0;
			z-index: -1;
			top: 0;
		}

		& > .reasonSection__text.reverse {
			position: absolute;
			left: auto;
			right: 0;
			& > .reasonSection__heading {
				width: fit-content;
				max-width: 532px;
				&::before {
					left: auto;
					right: 0;
				}
			}

			& > p {
				max-width: 532px;
				display: block;
				text-align: right;
			}
		}

		& > .reasonSection__image.reverse {
			bottom: 0;
			left: 0;
			width: 673px;
			height: 621px;
		}
	}
}

@include maxW($lg) {
	.reasonSection__image {
		filter: brightness(50%);
	}
	.reasonSection {
		.container {
			.reasonSection__image.reverse {
				width: auto;
			}
			& > p {
				width: fit-content;
			}
		}
	}
}

@include maxW($md) {
	.reasonSection > .container {
		& > .reasonSection__text {
			& > .reasonSection__heading,
			& > p {
				width: calc(100% - 48px);
			}
		}

		& > .reasonSection__text.reverse {
			& > p {
				width: auto;
			}
		}
	}
}
