$primary-font: 'Nunito', sans-serif;
$trans: 0.7s all;

// color
$primary-color: rgba(73, 182, 73, 1);
$text-color: rgba(255, 255, 255, 1);
$background: rgba(0, 0, 0, 1);

// breakpoind
$xl: 1470px;
$lg: 1024px;
$md: 768px;
$sm: 576px;
$xs: 480px;
